h1 { margin-bottom: 10px; font-size: 29px; font-weight: bold; line-height: 40px; font-family: opensans; text-decoration: underline; text-align: center
}

h2 { margin-top: 30px; font-size: 21px; line-height: 33px; font-family: opensans; font-weight: bold;

}


p { margin-top: 10px; margin-bottom: 10px; font-size: 16px; font-family: arial; line-height: 27px;

}

.footnote{
  font-family:times; font-size: 14;
}

li{
  margin: 10px; auto, 10px, auto;
}

sup { vertical-align: baseline; position: relative; top: -0.4em; text-size: smaller;
}

sub { vertical-align: baseline; position: relative; bottom: -0.4em;text-size: 6px;
}
