ul{
  margin-left: 50px; margin-top: 10px; font-family: arial; font-weight: bold; font-size: 16px; line-height: 27px; list-style-type: disc;
}

ol{
  margin-left: 50px; margin-top:10px; font-family: arial; font-size: 16px; line-height: 27px; list-style-type: decimal;

}

a {
  text-decoration: none; color: #42de00;

}

a:visited {
  color: #216f00;
}

a:hover {
  text-decoration: line-through; cursor: wait;
}

a:active {
  color: #ff7800;
}

body{
  padding: 50px;
}
