body {
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

#ex {
  display: flex;
  height: 600px;
}

#ex img {
  height: 300px;
  width: 300px;
  margin: auto;
}

#intro header, #list header {
  padding: 60px;
}

#intro header, #intro p, #list header {
  width: 700px;
  margin: 0 auto;
}

#intro p {
  font-size: 20px;
  margin-top: 16px;
}

#intro p:first-of-type {
  margin-top: 0;
}

/* List Section */

#list1 {

  display: flex;
}

#list1 img {
  width: 33.333%;
}
