<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>10 most visited</title>
  <link rel="stylesheet" href="../stylesheets/reset.css">
  <link rel="stylesheet" href="../stylesheets/reset-link.css">
  <link rel="stylesheet" href="cities.css">
</head>
<body>

<div id=ex>
  <img src="Kuala.jpg" alt="" />
</div>


<section id=intro>
  <header>
    <h2>Introduction</h2>
  </header>

  <article>
    <p>Asia has become a hugely popular travel destination in recent years, and now several cities in Asia have officially become the most visited cities in the world by international travelers.</p>

    <p>Euromonitor International recently released data on the most visited cities by international tourists in 2013, and Asian cities dominated the list. </p>

    <p>Hong Kong took the top spot, with over 25 million international visitors. Singapore and Bangkok trailed right behind. In fact, 11 of the top 20 cities are located in Asia. </p>
  </article>
</section>

<section id="list">
<header>
  <h2>List</h2>
</header>

<ul>

  <section id=list1>
    <li>
      <img src="Kuala.jpg" alt="" />
      <figcaption>
        <h3>Kuala Lumpur, Malaysia</h3>
        <p>11.2 million international visitors</p>
      </figcaption>
    </li>

    <li>
      <img src="Shenzhen.jpg" alt="">
      <figcaption>
        <h3>Shenzhen, China</h3>
        <p>11.7 million international visitors</p>
      </figcaption>
    </li>

    <li>
      <img src="http://www.themusehotel.com/design/images/930-481/nyc-skyline.jpg" alt="">
      <figcaption>
        <h3>New York City</h3>
        <p>11.8 million international visitors</p>
      </figcaption>
    </li>
    </section>

  <section id=list2>
    <li>
      <img src="http://cdn.justluxe.com/articles/images/news/sandscorp_1830786_1.jpg" alt="">
      <figcaption><h3>Macau, Macau</h3>
        <p>14.2 million international visitors</p>
      </figcaption>
    </li>

    <li>
      <img src="Paris.jpg" alt="">
      <figcaption>
        <h3>Paris, France</h3>
        <p>15.2 million international visitors</p>
      </figcaption>
    </li>

    <li>
      <img src="London.jpg" alt="">
      <figcaption>
        <h3>London, UK</h3>
        <p>16.7 million international visitors</p>
      </figcaption>
    </li>
  </section>

<section id=list3>
  <li>
    <img src="Bangkok.jpg" alt="" />
    <figcaption>
      <h3>Bangkok, Thai</h3>
      <p>17.4 million international visitors</p>
    </figcaption>
  </li>

  <li>
    <img src="http://media-cdn.tripadvisor.com/media/photo-s/03/9b/2e/11/singapore.jpg" alt="">
    <figcaption>
      <h3>Singapore</h3>
      <p>.4 million international visitors</p>
    </figcaption>
  </li>

  <li>
    <img src="https://c1.staticflickr.com/5/4141/4889446455_81e84b56d9_b.jpg" alt="">
    <figcaption>
      <h3>Hong Kong</h3>
      <p>.5 million international visitors</p>
    </figcaption>
  </li>
</section>
</ul>
</section>


</body>
</html>
