<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Такие дела</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="takie.css">
</head>
<body>

<section id="start">
  <section>
    <h1>«Барьеры у нас в голове»</h1>
    <p>Автор: Ася Чачко</p>
    <i class="fa fa-chevron-down"></i>
  </section>

</section>


  <section id="content">
    <p class="lead">Танцовщица, бизнесмен, дизайнер и другие люди с разными формами инвалидности рассказали Асе Чачко о том, как им удается вести полноценную жизнь</p>
    <h2>Роман Аранин, 44 года</h2>
    <h3>Калининград</h3>


    <p>Я из семьи военных и сам военный летчик. Но в 1992 году летать перестал — в армии тогда просто закончился керосин, и летчики сидели без дела. Я уволился, переехал из Алма-Аты в Калининград и стал заниматься бизнесом: продавал обои, сантехнику, организовал три магазина и склад. Но летать все равно хотелось. В Калининграде гор нет — только за городом, в Донском, есть один очень красивый обрыв. С него можно спускаться на параплане, но только при определенном ветре. А я человек жадный до жизни, мне сидеть и ждать не хотелось. Поэтому я купил самый мощный мотор к параплану — как оказалось впоследствии, слишком мощный. При полете я наделал кучу ошибок, меня понесло на высоковольтную линию, я начал уворачиваться, и меня развернуло на 180 градусов.</p>

    <p>Дальше паника, потерял управление, и в итоге двигателем мне перерубило позвоночник на уровне шеи (а я еще хотел жену с дочкой катать).</p>

    <p>Девяносто пять процентов людей с такой травмой, как у меня, не выживают — отказывают легкие. Но я оказался счастливчиком и через сорок дней в реанимации стал дышать сам. Мне тогда было 34 года. Затем, как водится, были два-три года самых разных реабилитационных центров, профессоров и колдунов. Это длилось до тех пор, пока я окончательно не осознал, что больше не встану. И тогда пришло понимание: нужно учиться жить так.</p>

</section>


</body>
</html>
