#vimeo {

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
position: relative;
  width: 100%;
  height: 100%;

  background-image: url(../images/video_bg.jpg);
  image-size: cover;
  background-position: center;
}

#vimeo iframe {
position: relative;
z-index: 1;
margin: auto;


}
