body {
  padding: 50px;
}

h1, h2, h3 {
  padding-bottom: 10px;
  font-family: 'Linux Libertine', Georgia, Times, serif;
}

h1 {
  font-size: 29px;
  line-height: 40px;
}
h2 {
  font-size: 21px;
  padding-top: 30px;
}
p, ul, ol {
  font-size: 14px;
  line-height: 22px;
  font-family: sans-serif;
}
li {
  padding: 2px auto 2px auto;
}
p {
  padding: 10px auto 10px auto;
}
b {
  font-weight: bold;
}

#q {
  font-size: smaller;
  font-style: italic;
}

.link {
  font-size: smaller;
  vertical-align: super;
  line-height: 1em;
}
