ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}

ul, ol {
  margin-left: 30px;

}
a {
  color: #0645ad;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color:#0645ad;
}
a:active {
  color: #faa700;
}
a:visited {
  color: #0b0080;
}
.new {
  color: #ba0000;
}
.new:visited {
  color:#a55858;
}
