html, body {
  width: 100%;
  height: 100%;
  }

h1, h2 {
  font-family: 'PT Sans Caption', sans-serif;
}

nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 100%;
  padding: 20px;
  color: white;
}

nav li {
  padding: 2px 0;
  line-height: 1.3;
  font-family: 'PT Sans Caption', sans-serif;
}

nav a,
nav a:hover {
  color: white;
}

section a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

section .new {
  color: #ba0000;
}

section .new:visited {
  color: #a05588;
}

section {
  width: 700px;
  margin: 0 auto;
  padding: 50px 0;
}

section p,
section li {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
}

section ul,
section ol {
  margin-left: 30px;
}

section ul {
  list-style-type: disc;
}

section ol {
  list-style-type: decimal;
}
