body {
  height: 8593px;
  background-image: url(../../images/dom_narkomfina_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: -0.1px;
}

h1 {
  font-size: 60px;
  margin-top: 213px;
  text-align: center;
  letter-spacing: -2.4px;
}

h2 {
  margin-top: 44px;
  font-size: 35px;
  letter-spacing: -0.2px;
}

h3 {
  margin-top: 6px;
  text-align: center;
  font-size: 31px;
  font-weight: normal;
  color: rgba(0,0,0,0.44);
}

hr {
  width: 100px;
  margin: 297px auto 0;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}

p, li {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}

p {
  margin-top: 30px;
}

p:first-of-type {
  margin-top: 229px;
}

h2 + p {
  margin-top: 8px;
}

b {
  font-weight: bold;
}

a {
  color: black;
}

ul {
  margin-top: 32px;
  margin-left: 30px;
}

ul {
  list-style-type: disc;
}

li {
  margin-top: 14px;
}

section {
  box-sizing: border-box;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.emDash {
  display: inline-block;
  width: 2px;
}



@media (max-width: 767px) {

  body {
    height: 8593px;
    background-image: url(../../images/dom_narkomfina_mobile.jpg);
  }

  section {
    width: calc(100% - 50px);
  }

  h1 {
    font-size: 36px;
    margin-top: 185px;
    letter-spacing: -0.04em;
  }

  h2 {
    margin-top: 32px;
    font-size: 25px;
  }

  h3 {
    margin-top: 6px;
    font-size: 24px;
  }

  hr {
    width: 60px;
    margin: 260px auto 0;
  }

  p, li {
    font-size: 20px;
    line-height: 1.4;
  }

  p {
    margin-top: 30px;
  }

  p:first-of-type {
    margin-top: 205px;
  }

  h2 + p {
    margin-top: 8px;
  }

}
