body {
  padding: 50px;
}

a, a:hover {
  color: #0645ad;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: #faa700;
}

a:visited {
  color: #0b0080;
}

.new, .new:hover {
  color: #ba0000;
}

.new:visited {
  color: #a55858;
}

ul, ol {
  margin-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
