
h1 {font-size: 29px; line-height: 40px;}
h2 {font-size: 21px;}
h1, h2 {font-family: "Linux Libertine",Georgia,Times,serif;}
p, ul, ol {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  }
  b {font-weight: bold}

.new: visited {
  color: #a55858;
}

h1, h2 {margin-bottom: 10px;}
h2 {margin-top: 30px;}
p {margin: 10px 0;}
li {margin: 2px 0;}

a:hover {cursor: pointer;}

sup {
  vertical-align: super;
  font-size: smaller;
}
